:root {
  --main-white: #ffffff;
  --main-gray-1: #bbbbbb;
  --main-gray-2: #838484;
  --main-black: #000000;
  --main-orange: #ff6b00;
}

/* semantic color variables for this project */
:root {
  --color-font: var(--main-white);
  --color-background: var(--main-black);

  --color-special-mark: var(--main-orange);
  --color-border: var(--main-gray-2);

  --color-hover-after: var(--main-gray-2);
  --color-hover-before: var(--main-white);

  --text-font-size: 16px;
  --text-font-size-small: 14px;
  --text-letter-spacing: 2.6px;
}
body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  color: var(--color-font);
  background: var(--color-background);
  transition:
    color 0.3s,
    background-color 0.3s;
  font-family: 'Inter', 'Roboto', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 13吋筆電以上 */
@media (min-width: 1440px) {
  h1 {
    font-size: 2.25rem; /* 36px */
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    letter-spacing: var(--text-letter-spacing);
  }
  h2 {
    font-size: 1.625rem; /* 26px */
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    letter-spacing: var(--text-letter-spacing);
  }
  p {
    font-size: 1.25rem; /* 20px */
    font-family: 'Inter', sans-serif;
    font-weight: 500;
  }
  span {
    font-size: 0.875rem; /* 14px */
    font-family: 'Inter', sans-serif;
    font-weight: 300;
  }
}
/* 平板 */
@media (max-width: 1440px) {
  h1 {
    font-size: 2.286rem; /* 32px */
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    letter-spacing: var(--text-letter-spacing);
  }
  h2 {
    font-size: 1.571rem; /* 22px */
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    letter-spacing: var(--text-letter-spacing);
  }
  p {
    font-size: 1.143rem; /* 16px */
    font-family: 'Inter', sans-serif;
    font-weight: 500;
  }
  span {
    font-size: 0.714rem; /* 10px */
    font-family: 'Inter', sans-serif;
    font-weight: 300;
  }
}
