:root {
  --main-white: #ffffff;
  --main-gray-1: #bbbbbb;
  --main-gray-2: #838484;
  --main-black: #000000;
  --main-orange: #ff6b00;
}

/* semantic color variables for this project */
:root {
  --color-font: var(--main-white);
  --color-background: var(--main-black);

  --color-special-mark: var(--main-orange);
  --color-border: var(--main-gray-2);

  --color-hover-after: var(--main-gray-2);
  --color-hover-before: var(--main-white);

  --text-letter-spacing: 2.6px;
}

body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  color: var(--color-font);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  /* letter-spacing: 2.6px;
  line-height: 32px; */
  font-family: 'Inter', 'Roboto', sans-serif;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 36px;
  font-family: 'Orbitron', sans-serif;
  font-weight: 700;
  letter-spacing: var(--text-letter-spacing);
}
h2 {
  font-size: 26px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  letter-spacing: var(--text-letter-spacing);
}
p {
  font-size: 20px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}
span {
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
}
